www.shipovavpsjp.ml:80 {
    root /usr/src/trojan
    log /usr/src/caddy.log
    index index.html
}

www.shipovavpsjp.ml:443 {
    root /usr/src/trojan
    log /usr/src/caddy.log
    index index.html
}
